@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@200&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  scroll-behavior: smooth;
}


/* ----------------------Ragistration ------------------------- */
.login {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 430px;
  padding: 50px;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(9px);
  border: 1px solid #fff;
  border-radius: 33px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login h2 {
  margin-bottom: 1rem;
  font-weight: bold;
  color: white;
  font-size: 40px;
}

.form-control {
  border-radius: 30px;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  position: relative;
}

.btn-custom {
  border-radius: 30px;
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #007bff;
  border: none;
  color: white;
  transition: background-color 0.3s ease;
}

.btn-custom:hover {
  background-color: #0056b3;
}

.reg {
  color: blueviolet;
  font-size: 18px;
}

.register-link {
  color: #007bff;
  text-decoration: none;
}

.register-link:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 400px) {
  .login {
    width: 345px;
  }
}


/* -------------Home -------------- */
.img {
  background-image: url('../Car/Images/login.jpg');
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: 55%;
}


.h7 {
  font-size: 14px;
}

.bg-content {
  background-color: #eef7ff;
}

/* ------------User Navbar-------------- */
.profile-picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

/* ----------------Vendor-------------- */
.vendor-login {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 430px;
  padding: 50px;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(9px);
  border: 1px solid #fff;
  border-radius: 33px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.vendor-login h2 {
  margin-bottom: 1rem;
  font-weight: bold;
  color: white;
  font-size: 40px;
}

.form-control {
  border-radius: 30px;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  position: relative;
}

.btn-custom {
  border-radius: 30px;
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #007bff;
  border: none;
  color: white;
  transition: background-color 0.3s ease;
}

.btn-custom:hover {
  background-color: #0056b3;
}